# .gitignore

# Зависимости
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log
.pnpm-debug.log*
package-lock.json

# Окружение
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
logs
*.log

# Бэкапы
*.tmp
*.backup

# IDE и редакторы
.DS_Store
.idea/
.vscode/
*.swp
*.swo
coverage/
.nyc_output/

# Сборка
dist/
build/

# Nodemon
.nodemon/
# База данных SQLite (КРИТИЧНО: не выгружай данные пользователей)
*.db
*.db-journal
*.db-wal


# Логи сервера и PM2
logs/
*.log
pids/
lib-cov/
coverage/

# Системные файлы
Thumbs.db
# Другое
app_calendar/